body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*NAV*/
.topNav {
    position: fixed;
    right: 30px;
}

.topNav li {
    display: block;
    padding-top: 15px;
}
.topNav li a {
    padding-top: 0;
}

.userNav li {
    margin-top: 0;
    padding-top: 0;
}

/*BODY*/

/*UNIQUE*/

/*FOOTER*/
footer {
    width: 200px;
    margin: 0 auto;
}
