/*COLORS
    Primary-Red: #BB1711
    Secondary-DarkGray: #313638
    PrimaryAccent-Yellow: #FFBC0A
    SecondaryAccent-MediumGray: #A5ABAF
    ThirdAccent-LightGray: #EBEBEB
*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*NAV*/
@media (min-width: 829px) {
    .userNav::before {
        content: " |";
        padding-top: 0.415rem;
    }
}

#topNav {
    background-color: #313638;
    border-bottom: 2px solid #BB1711;
    width: 100vw;
    color: #FFBC0A;
}



.nav-link {
    color: #EBEBEB !important;
}
    .nav-link a {
        color: #BB1711;
    }
.nav-link a:hover {
    color: #FFBC0A;
    text-decoration: none;
}

    .nav-link:hover {
        color: #FFBC0A !important;
    }

@media(max-width:829px) {
    .nav-item:hover {
        background-color: #1d2021;
        margin-left: -1rem;
        padding-left: 1rem;
    }
}

@media(min-width:829px) {
    .nav-item:hover, .nav-item:active, .nav-item:focus {
        background-color: #1d2021;
        margin-top: -0.5rem;
        margin-bottom: -0.5rem;
        padding-top: 0.5rem;
    }
}

.navbar-brand {
    font-family: 'Fondamento', serif;
    color: #FFBC0A !important;
}

    .navbar-brand a {
    }

.navbarDropdown:hover .dropdown-menu {
    margin-top:0rem;
}

.dropdown-menu {
    margin-top: 0.5rem;
    font-size: 0.75rem;
}

.dropdown-menu {
    color: #EBEBEB;
    background-color: #313638;
    border-radius: 0;
    border: 2px solid #BB1711;
    border-top: 1px solid #313638;
}
    .dropdown-menu a {
        color: #EBEBEB;
    }

.dropdown-item:hover {
    background-color: #1d2021;
    color: #FFBC0A;
}

.dropdown-toggle::after {
    content: none;
}

/*BODY*/
.body-content {
    padding-top: 0.5rem;
}

.pageTitle {
    padding-top: 4rem;
    padding-bottom: 3rem;
    border-bottom: 2px solid #BB1711;
    position: relative;
}

    .pageTitle h1 {
        background-color: rgba(235,235,235,0.4);
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .pageTitle h5 {
        margin: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        text-align: right;
        font-style: italic;
        font-family: 'Lato', sans-serif;
        color: #FFBC0A;
        padding: 2px 15px 0 10px;
        background-color: #BB1711;
    }

.spellTitle {
    background-image: url(/Content/Images/spells.jpg);
    background-size: 100vw;
    background-position: center 83%;
}

.monsterTitle {
    background-image: url(/Content/Images/monsters.jpg);
    background-size: 100vw;
    background-position: center 63%;
}

.myCreationsTitle {
    background-image: url(/Content/Images/myCreationsBackground.jpg);
    background-size: 100vw;
    background-position: center 59%;
}

.adminTitle {
    background-image: url(/Content/Images/admin.jpg);
    background-size: 100vw;
    background-position: center 66%;
}

.manageTitle {
    background-image: url(/Content/Images/manage.jpg);
    background-size: 100vw;
    background-position: center 35%;
}

.aboutTitle {
    background-image: url(/Content/Images/about.jpg);
    background-size: 100vw;
    background-position: center 60%;
}

p, li, a, h2, h3, h4, h5, h6, label {
    font-family: 'Lato', sans-serif;
}

/*H*/
h1 {
    text-align: center;
    font-family: 'Fondamento', serif;
}

h2 {
    text-align: center;
}
/*BUTTON*/
.btn-primary {
    background-color: #313638;
    border-color: #FFBC0A;
    color: #FFBC0A;
}

    .btn-primary a {
        color: #FFBC0A;
    }

    .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
        background-color: #FFBC0A !important;
        border-color: #BB1711 !important;
        color: #BB1711 !important;
        text-decoration: none;
    }

        .btn-primary:hover a, .btn-primary:active a, .btn-primary:focus a {
            color: #BB1711 !important;
            text-decoration: none;
            font-weight: bold;
        }

.btn-cancel {
    background-color: #BB1711;
    border-color: #313638;
    color: #EBEBEB;
}

    .btn-cancel a {
        color: #EBEBEB;
    }

    .btn-cancel:hover, .btn-cancel:active, .btn-cancel:focus {
        background-color: #A5ABAF !important;
        border-color: #313638 !important;
        color: #313638 !important;
        text-decoration: none;
    }

        .btn-cancel:hover a, .btn-cancel:active a, .btn-cancel:focus a {
            color: #313638 !important;
            text-decoration: none;
            font-weight: bold;
        }

.btn-sm {
    padding-top: 0.15rem;
    padding-bottom: 0.1rem;
}

.indexButton {
    width: 40px;
}

.addTrait, .addAction, .addReaction, .addLegendary, .addLair {

}

.commentLink {
    border: none;
    background: none;
    text-decoration: none;
    color: #8e130e;
    padding: 0;
}

    .commentLink:hover, .commentLink:active, .commentLink:focus {
        border: none;
        background: none;
        text-decoration: none;
        color: #FFBC0A;
    }

.linkStandard {
    border: none;
    background: none;
    text-decoration: none;
    color: #8e130e;
    padding: 0;
}

    .linkStandard:hover, .linkStandard:active, .linkStandard:focus {
        border: none;
        background: none;
        text-decoration: none;
        color: #FFBC0A;
    }

/*LIST*/
.horizontalList li {
    display: inline;
}

.horizontalList {
    padding: 0;
}

.listButtonsContainer {
    padding-right: 0 !important;
}

.listButtons {
    float: right;
}

    .listButtons ul {
        margin-bottom: 0;
    }

/*TABLE*/
.table {

}
.table th {
    font-size: 1.04rem;
}
@media(max-width: 680px){
    .spellTable td:nth-child(5), .spellTable th:nth-child(5) {
        display: none;
    }
}
@media(max-width: 545px) {
    .spellTable td:nth-child(4), .spellTable th:nth-child(4) {
        display: none;
    }
}
@media(max-width: 480px) {
    .spellTable td:nth-child(1), .spellTable th:nth-child(1) {
        display: none;
    }
    .monsterTable td:nth-child(4), .monsterTable th:nth-child(4) {
        display: none;
    }
}
@media(max-width: 580px) {
    .monsterTable td:nth-child(3), .monsterTable th:nth-child(3) {
        display: none;
    }
}







.tableForm {
    margin-top: 1rem;
}

.tableHeader {
    margin-bottom: 0;
}

.tableTextArea {
    min-width: 100% !important;
}



/*FORM*/
.formStandard {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.formStandardStart {
    margin-top: 1rem;
}

@media(min-width: 1200px) {
    .formStandard {
        margin-left: 1rem;
        margin-right: 1rem;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

.inputStandard {
    margin: 0.5rem 1rem 0 0;
    min-width: 100%;
    max-width: 100%;
}

.labelStandard {
    margin: 0.5rem 1rem 0 0;
}

.inputLarge {
    height: 4rem;
    min-width: 100%;
    font-size: 3rem;
    margin-top: 1rem;
}

.loginCardContainer {
    position: relative;
    height: 100vh;
    margin: auto;
}

.loginCard {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 60vh;
}

.loginInput {
    margin-bottom: 1rem !important;
}

.inputSmall {
    max-width: 45px;
    height: 1.75rem;
}

@media(min-width: 768px){
    .tableSmallRightTitle {
        padding-left: 1.5rem;
    }
}

.form-group {
    margin-bottom: 0;
}

.inputTextArea {
    min-width: 100%;
    margin-top: 1rem;
}

.checkboxGroup {
    display: flex;
}

@media(min-width:624px) {

    .inputSingleColumn {
        margin-right: 310px;
    }
}

.checkboxLabel {
    padding-left: 13px;
    padding-right: 10px;
}

.formButtonsContainer {
    display: flex;
}

.formButtons {
    padding-top: 15px;
    float: right;
}

    .formButtons ul {
        padding-left: 0 !important;
    }

/*INDEX*/
.indexCreateLink {
    padding: 1rem 0;
}

.searchBar {
    float: right;
    padding: 1rem 0;
}

/*DETAILS*/
.displaySubtext {
    font-style: italic;
    margin-left: 3em;
    font-size: 0.905em;
}

.displayCard {
    margin-top: 1rem;
}

.commentsTitle {
    margin: 1rem;
}

.commentBlock {
    margin-top: 1rem;
}

.addCommentArea {
    margin-bottom: 5rem;
}

.commentTextArea {
    min-width: 100%;
}

.addComment {
    margin-top: 1rem;
    margin-bottom: 1rem;
    float: right;
}

/*COMMENT*/

.commentGroup {
    border-bottom: 1px solid #BB1711;
    margin: 1rem;
}

.editCommentBlock {
    display: none;
}

.editCommentArea {
    margin-bottom: 3rem;
}

.updateButtons {
    float: right;
}

.updateButtonsContainer {
    padding-top: 1rem;
}

.replyGroup {
    border-bottom: 1px solid #FFBC0A;
    margin: 1rem;
}

.editReplyBlock {
    display: none;
}

.editReplyArea {
    margin-bottom: 3rem;
}

.commentInfo li {
    padding: 2px;
}

.commentAuthor {
    padding-left: 0 !important;
    font-weight: bold;
}

.replyBlock {
    margin-top: 1rem;
}

.replyButtonsContainer {
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.replyButtons {
    float: right;
}

.commentReplyInput {
    display: none;
}

.hideReplyContainer {
    display: none;
    margin-bottom: 4rem;
}

.collapseReplies {
    float: right;
    padding-right: 15px;
}

/*SPELL*/
.spellCheckboxList {
    padding-right: 2.25rem;
}
/*UNIQUE*/
#legendaryActions {
    max-width: 120px;
    margin-bottom: 1rem;
}
.startCreatingContainer {
    height: 7rem;
}
#startCreating {
    background-color: #BB1711;
    border: none;
}

.notifList a {
    text-decoration: none;
    color: #313638;
    padding-right: 10px;
}
.dim a {
    color: #A5ABAF;
}
.deleteNotification {
    color: #BB1711 !important;
}

/*HOME*/
.jumbotron {
    margin-bottom: 0 !important;
    position: relative;
}

.home {
    background-image: url(/Content/Images/HomeBackground.jpg);
    background-size: 768px;
    background-position: center;
    border-bottom: 2px solid #BB1711;
    border-radius: 0;
}

#homeTitle {
    margin-top: 2em;
    margin-left: -1rem;
    width: 100vw;
    background-color: rgba(235,235,235,0.4);
    padding-top: 5px;
    padding-bottom: 5px;
}

#tagline {
    font-style: italic;
    font-family: 'Lato', sans-serif;
    color: #FFBC0A;
    margin-bottom: 0;
    padding: 2px 0 0 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #BB1711;
    width: 380px;
}

@media(min-width:576px) {
    #homeTitle {
        margin-left: -2rem;
        font-size: 3.3em;
    }
}

.monsters {
    background-image: url(/Content/Images/monsters.jpg);
    background-size: 100vw;
}

.spells {
    background-image: url(/Content/Images/spells.jpg);
    background-size: 150vw;
}

.category {
    border: 2px solid #BB1711;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in;
    max-width: 100vw;
    height: 89vw;
}

    .category:hover {
        filter: grayscale(100%);
        transition: .5s ease-in;
    }

    .category a:hover {
        text-decoration: none;
    }

    .category h2 {
        color: #EBEBEB;
    }

        .category h2:hover {
            color: white;
        }

@media(min-width: 475px) {
    .monsters {
        background-size: 426px;
    }

    .spells {
        background-size: 640px;
    }

    .category {
        max-width: 426px;
        min-width: 426px;
        height: 426px;
        margin: 1em auto;
    }

    .monsters:hover {
        background-size: 451px;
    }

    .spells:hover {
        background-size: 665px;
    }
}

@media(min-width: 768px) {
    #homeTitle {
        font-size: 4.5em;
    }

    .home {
        background-size: 100vw;
    }

    .monsters {
        background-size: 350px;
        float: right;
    }

    .spells {
        background-size: 550px;
        float: left;
    }

    .category {
        max-width: 350px;
        min-width: 350px;
        height: 350px;
    }

    .monsters:hover {
        background-size: 375px;
    }

    .spells:hover {
        background-size: 575px;
    }
}

/*ABOUT*/
.aboutSubtitle {
    margin: 2rem 0;
}

.aboutTest {

}

/*MY CREATIONS*/
.myCreationsCategories {
    margin-top: 1rem;
}
/*FOOTER*/
footer {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}
