@{
    ViewBag.Title = "About";
}

<div class="pageTitle aboutTitle">
    <h1>About the Homebrew Guild</h1>
</div>

<div class="container formStandardStart">
    <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-12">
            <h3 class="aboutSubtitle">Welcome to The Homebrew Guild!</h3>
            <div class="aboutText">
                <p>
                    The Homebrew Guild was created out of a love for Dungeons and Dragons 5th Edition as a home for custom homebrew content to be stored and shared with others.
                    While a few platforms such as D&D Beyond, and the D&D homebrew Wiki do exist, there aren’t very many places for average Dungeon Masters and players alike to
                    store their custom content and share it with friends and the community at large. Additionally, it can always be incredibly helpful to get some much-needed
                    feedback when working on a new creature design or attempting to make a custom spell for the first time.
                </p>
                <p>
                    As this project continues we look to add more functionality. We are excitedly working on adding characters, custom races and classes, and much, much more. So
                    what are you waiting for? Click the button below to sign up and start creating today!
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row justify-content-center align-items-center startCreatingContainer">
            <button type="button" class="btn btn-primary btn-lg" id="startCreating">
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Start Creating", "Index", "MyCreations")
                    }
                    else
                    {
                        @Html.ActionLink("Start Creating", "Register", "Account")
                    }
                }
            </button>
        </div>
    </div>
</div>
