@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron home">
    <h1 id="homeTitle">The Homebrew Guild</h1>
    <h5 id="tagline">A home for D&D 5E Homebrew Content</h5>
</div>

<div class="row justify-content-around">
    <div class="col-lg-5 col-md-6 monstersContainer">
        <div class="category monsters">
            <h2>@Html.ActionLink("Monsters", "Index", "Monster")</h2>
        </div>
    </div>
    <div class="col-lg-5 col-md-6 spellsContainer">
        <div class="category spells">
            <h2>@Html.ActionLink("Spells", "Index", "Spell")</h2>
        </div>
    </div>
</div>